* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background: rgb(247, 39, 152);
  background: -moz-linear-gradient(
    175deg,
    rgba(247, 39, 152, 1) 0%,
    rgba(245, 125, 31, 1) 55%
  );
  background: -webkit-linear-gradient(
    175deg,
    rgba(247, 39, 152, 1) 0%,
    rgba(245, 125, 31, 1) 55%
  );
  background: linear-gradient(
    175deg,
    rgba(247, 39, 152, 1) 0%,
    rgba(245, 125, 31, 1) 55%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f72798",endColorstr="#f57d1f",GradientType=1);
  padding: 20px 15px;
}

hr {
  height: 12px;
  background: black;
  margin: 10px 1px;
  border-radius: 15px;
}

.btn-box {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

.btn-box button {
  padding: 10px;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  background-color: rgba(247, 39, 152, 1);
  transition-duration: 500ms;
  flex-grow: 1;
  
}

.btn-box button:is(:hover, :focus) {
    transform: scale(1.2);
    background-color: red;
}

input {
  width: 100%;
  border-radius: 15px;
  border: 3px solid black;
  padding: 10px;
  font-size: 20px;
  margin: 10px 0;
}

label {
    margin: 10px 0;
}
